{% extends "network/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}

        <div class="mx-auto mt-4" style="width:85%">
            <button class="btn btn-primary" id="createButton">Create Post</button>
        </div>


        <div style="display: none" id="createPost">
            <div class="card mx-auto mt-4" style="width: 85%;">
                <div class="card-body">
                    <form action="{% url 'createPosts' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="h2" for="content">Create Post</label>
                            <textarea class="form-control" name="content" rows="8"></textarea>
                        </div>
                        <input class="btn btn-primary mr-4" type="submit" value="Post">
                        <a href="javascript:createPost()">Cancel</a>
                    </form>
                </div>
            </div>
        </div>

    {% endif %}





{% endblock %}
